* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open-Sans', sans-serif;
}
.head {
    background-color: white;
    width: 100%;
    height: 50px;
    border: 1px solid #a6a6a6;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    /* height: 5.496%; */
    /* box-shadow: black 0 1px 10px 1px; */
}
.head-slider {
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat no-repeat;
}
.head-container {
    width: 80%;
    max-width: 1700px;
    min-height: 50px;
    max-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-container__logo {
    margin-right: 8%;
}
.head-container__container-navigation {
    height: 100%;
    width: 100%;
}
.head-container__container-navigation ul {
    list-style-type: none;
    display: flex;
    font-family: 'Open-Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    height: 100%;
}
.head-container__container-navigation li {
    margin-left: 3%;
    margin-right: 3%;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-bar_link {
    text-decoration: none;
    color: #00437A;
}
.head-container__container-burger_menu {
    visibility: hidden;
}
.head-container_menu button {
    outline: none;
    border: none;
    background-color: white;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    height: 20px;
    width: 20px;
}
.head-slider__container {
    position: relative;
    min-height: 260px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat no-repeat;
    padding-top: 50px;
}
.head-slider__container::after {
    background: linear-gradient(87.11deg, #24335B 15.4%, rgba(0, 67, 115, 0.84) 95.76%);
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.95;
}
.head-slider__container::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 1px;
    height: 100%;
    z-index: 9;
}
.head-slider__container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.head-slider__container_title {
    width: 50%;
    z-index: 2;
    position: relative;
}
.slider_title {
    padding-top: 80px;
    color: white;
    font-family: sans-serif;
}
.head-slider__logo {
    height: 250px;
    width: 250px;
    filter: brightness(0) invert(1);
} 
.head-slider__logo img {
    margin-top: -140px;
    height: 500px;
}
.bottom-text__container {
    width: 50%;
}
.main-slider__bottom_text {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 40px;
    margin-bottom: 55px;
}
.bottom-text__container p {
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: lighter;
}
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.main-container_1 {
    width: 60%;
    margin-top: 55px;
    margin-bottom: 55px;
}
.main-notice__block {
    display: flex;
    margin-bottom: 15px;
}
.notice-image {
    display: flex;
    width: 15%;
    padding-right: 20px;
}
.notice-image img {
    width: 100%;
    height: auto;
    margin-top: 5px;
}
.notice__block_content h3 {
    font-family: 'Open sans';
    font-size: 25px;
    font-weight: lighter;
}
.notice__bottom_content p {
    font-family: 'Arial', 'sans-serif';
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}
.main-container_2 {
    border-top: 1px solid #a6a6a6;
    border-bottom: 1px solid #a6a6a6;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    margin-bottom: 30px;
}
.main-container_3 {
    display: flex;
    width: 100%;
    height: 100%;
}
.main-search__block {
    background: linear-gradient(126deg, #f1f1f1, #f9f9f9);
    margin-right: 20px;
}
.search__block {
    padding: 49px 72px;
}
.main-search_output {
    width: 100%;
}
.main-flex_output {
    display: none;
    height: 100%;
}
.output {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}
.img_output {
    width: 100%;
}
.output__block {
    width: 180px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 5px 10px 10px 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #a0a0a0;
}
.output__block p {
    font-family: 'Open Sans';
    color: #00437a;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.desc_output a {
    font-family: 'Open Sans';
    color: #00437a;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.output__block p:nth-child(3), p:nth-child(4) {
    color: #000;
    text-transform: none;
}
.img_output img {
    display: flex;
    width: 180px;
    height: 180px;
}
.table table {
    border-collapse: collapse;
}
.table th {
    background: #e7e7e7;
    color: #000;
}
.table td{
    padding-left: 10px;
    padding-right: 10px;
}
.table img {
    height: 100px;
    width: 100px;
}
tr:nth-child(2n) td{
    background-color: #f7f7f7; /* Цвет фона */
   } 
tr:nth-child(2) td{
    background-color: #f0f0f0; /* Цвет фона */
    color: #000; /* Цвет текста */
   } 
.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start
}
.form p {
    display: flex;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}
.form h2 {
    font-family: 'Open Sans';
    margin-top: 50px;
    font-size: 38px;
    color: black;
    font-weight: lighter;
    margin: 0 0 25px;
}
.form input {
    border-radius: 0;
    display: flex;
    line-height: 38px;
    height: 38px;
    border-collapse: separate;
    border: 1px solid #a0a0a0;
    padding: 0 10px;
    margin-bottom: 25px;
}
.form select {
    border-radius: 0;
    width: 100%;
    display: flex;
    line-height: 38px;
    border-collapse: separate;
    border: 1px solid #a0a0a0;
    padding: 0 10px;
    margin-bottom: 15px;
    background-color: white;
    height: 40px;
    position: relative;
    padding-right: 38px;
}
.form button {
    color: #00437a;
    padding: 3px 31px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: transparent;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    transition: color 0.2s ease, border 0.2s ease, background-color 0.2s ease;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.btn button:hover {
    color: white;
    background-color: #d8581a;
}
.container_form {
    margin-right: 30px;
}
th {
    padding: 10px;
}

.Notice-title {
    display: flex;
    padding-left: 120px;
    width: 80%;
}
.Notice-title h2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: lighter;
    
}
.Notice-title h2::before {
    margin-right: 17px;
    content: '';
    width: 81px;
    height: 2px;
    display: inline-block;
    background-color: black;
}
.foot {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foot-container {
    width: 100%;
}
.foot-block__container_1 {
    width: 50%;
}
.foot-container__block:first-child {
    height: 100%;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    background: linear-gradient(90.57deg, #F1F1F1 0.46%, #F9F9F9 90.95%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Connect-with-us h1 {
    color:#004373;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    margin-bottom: 15px;
}
.Connect-with-us__block p {
    font-size: 15px;
    color: #004373;
    font-family: sans-serif;
    text-transform: none;
    font-weight: bold;
}
.Connect-with-us__block {
    border-bottom: 1px solid #a0a0a0;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Connect-with-us__block p:nth-child(2) {
    color: black;
    font-weight: lighter;
}
.Connect-with-us__block_2 a, .Connect-with-us__block_2 ul {
    display: inline-flex;
}
.Connect-with-us__block_2 a {
    margin-left: 5px;
    margin-right: 5px;
}
.Connect-with-us__block_1 {
    display: flex;
}
.link {
    text-decoration: none;
    color: #004373;
}

.change-color p {
    transition: 0.5s;
}
.change-color p:hover{
    color: black;
    transition: 0.5s;
}
.Connect-with-us__block_2 p {
    font-family: 'Open-Sans';
    font-weight: lighter;
}
.foot-block__container_2 {
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding-top: 60px;
    padding-bottom: 60px;
}
.foot-container__block_3 {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #004373;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    display: flex;
    justify-content: center;
}
.foot-block__container_3 {
    width: 95%;
    display: flex;
    justify-content: space-between;
}
.foot-block__container_3 a {
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.4s ease;
    color:rgba(255, 255, 255, 0.2)
}
.foot-block__container_3 a:hover{
    color: #d8581a;
    transition: 0.4s ease;
}
.foot-block__container_3 p {
    color:rgba(255, 255, 255, 0.2);
    font-size: 14px;
}
.foot-block_image img {
    width: 150px;
    height: 150px;
    filter: brightness(0) invert(1);
}
.foot-container__block_2 {
    height: 100%;
    width: 100%;
    background-color: #004373;
    display: flex;
    justify-content: center;
}
.foot-block {
    
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    /* justify-content: space-evenly; */
}
.foot-block h3 {
    font-family: 'Open Sans';
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 5px;
}
.foot-block a {
    font-family: sans-serif;
    color: white;
    margin-bottom: 10px;
    transition: 0.4s;
}
.foot-block a:hover {
    color: #d8581a;
    transition: 0.4s ease;
}
.foot-block__image_links {
    display: flex;
}
.foot-block__image_link {
    margin-right: 5px;
    margin-left: 5px;
}
.foot-block__image_link a{
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot-block__image_link img {
    width: 55%;
    height: 55%;
    filter: brightness(0) invert(1);
    transition: color 0.2s ease
    /* transition: transform 0.5s ease; */
}
.foot-block__image_link a img:hover {
    width: 45%;
    height: 45%;
    transition: color 0.2s ease
    /* transition: transform 0.5s ease; */
}

.foot-container__block_4 {
    display: none;
}

@media (max-width: 1330px) {
    .head-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-content: center;
    }
    .foot-block__container_2 {
        display: flex;
        /* width: 60%; */
        padding-top: 60px;
        padding-bottom: 60px;
        flex-wrap: wrap;
        height: 100%;
        justify-content: space-between;
        flex-direction: row;
    }
    .foot-block {
        width: 27%;
    }
    .foot-block h3 {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    .foot-block:first-child {
        display: none;
    }
    .foot-block a:last-child {
        margin-bottom: 25px;
    }
    .foot-block__image_links {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .foot-container__block_4 {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #004373;
        align-items: center;
    }
    .foot-block__container_4 {
        width: 98%;
        display: flex;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        justify-content: center;
        align-items: center;
    }
    .foot-block__container_4 .foot-block_image img{
        width: 120px;
        height: 120px;
    }
}
@media (max-width: 1245px) {
    .Connect-with-us__block {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        align-content: space-between;
        border-bottom: 1px solid #a0a0a0;
        /* border-radius: 15px; */
        margin-bottom: 10px;
        flex-direction: column;
    }
}
@media (max-width: 1566px) {
    .table_output {
        display: none;
    }
    .main-flex_output {
        display: flex;
    }
}